.content-container {
    display: inline-block;
}
.preview-container.preview {
    position: relative;
    display: inline-block;    
    margin: 5px;
    height: 150px;
    width: auto;
    border-radius: 20px;
    overflow: hidden;
}

.content-container:hover{
    transform:scale(1.05);
}

.video-sequence.preview {
    height: 100%;
    width: auto;
}

.control-layer.preview {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-btn.preview {
    position: absolute;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
    bottom: 3px;
    right: 10px;
}

.more-btn.preview svg  {
    width: 40px;
    height: auto;
    fill: white;
}

.settings-bg.settings {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.settings-container.settings {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    
    padding: min(2.5vw, 2.5vh); 
    margin: auto;
    border: 0;
    border-radius: 18px;
  
    /* This is the important part */
    width: min(700px, 95vw, 110vh);
    height: min(600px, 95vh, 140vw);
}
@media only screen and (max-width: 767px) and (min-resolution: 400dpi) {
    .settings-container.settings {
        display: none;
    }
}

.video-sequence.settings  {
    border-radius: 15px;
}

.text.settings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    text-align: left;
    font-size: 10px;
}

.text.settings p, h2{
    margin: 0px;
    display: block;
    text-align: left;
}
